@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  background-color: #141414;
}

#root {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Text */

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5rem;
}

a {
  color: unset;
  font-size: unset;
  text-decoration: none;
}

a:visited {
  color: unset;
}

a:hover {
  cursor: pointer;
}

code {
  font-size: 0.95rem;
  color: red;
}

pre {
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code {
  margin: 0;
  font-weight: unset;
}

/* Disabling Defaults */

table,
td {
  border: none;
}

button {
  font: unset;
  border: none;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

input {
  font: unset;
  border: none;
  -webkit-appearance: none;
}

input:focus {
  outline: 0;
}

textarea {
  font-family: inherit;
}

hr {
  margin: 0;
}

ul {
  margin: 0;
}

/* Hide default form UI */
input[type='file'] {
  opacity: 0;
  text-indent: -999em;
  outline: none;
}

/* Hide default number toggle buttons */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@keyframes drawWave {
  from {
    stroke-dasharray: 0, 1000;
  }
  to {
    stroke-dasharray: 1000, 0;
  }
}

@keyframes eraseWave {
  from {
    stroke-dasharray: 1000, 0;
  }
  to {
    stroke-dasharray: 0, 1000;
  }
}
